.class-row {
  padding: 0.5rem;
  width: 100%;
  border-bottom: solid 1px lightgray;
  display: flex;
}

.all-challenges {
  margin-top:2rem;
}

.class-row-challenge-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.class-row-challenge-info h2{
  font-size: 1.3rem;
  margin: 0;
}

.class-row-challenge-info p{
  font-size: 0.7rem;
  margin: 0;
  color: brown;
}

.class-row .description {
  font-size: 0.7rem;
  margin: 0;
  color: gray;
  text-align: left;
}

.class-row .checkbox {
  width:30px;
  height:30px;
  margin-left: 5px;
  cursor: pointer;
  color: black;
}
