.classRowChallengeInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.classRowChallengeInfo h2{
  font-size: 1.3rem;
  margin: 0;
}

.classRowChallengeInfo p{
  font-size: 0.7rem;
  margin: 0;
  color: brown;
}

.requirementBtnContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.requirementBtn {
  margin-top:0.5rem;
  display: flex;
  background-color: black;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 0.7rem;
}

.requirementBtn:focus {
  color: white;
  text-decoration: none;
}

.requirementBtn:visited {
  color: white;
  text-decoration: none;
}

.requirementBtn:hover {
  color: white;
  text-decoration: none;
}
