.class-row {
  padding: 0.5rem;
  width: 100%;
  border-bottom: solid 1px lightgray;
  display: flex;
}

.class-row .description {
  font-size: 0.7rem;
  margin: 0;
  color: gray;
  text-align: left;
}

.class-row .checkbox {
  width:30px;
  height:30px;
  margin-left: 5px;
  cursor: pointer;
  color: black;
}

.btn {
  padding: 1rem;
  border-radius:5px;
  margin: 1rem 2rem;
  width: 300px;
}

.all-classes-container {
  display:block;
  background-color: #f1f1f1;
  padding: 2rem;
}
