.footer {
  background-color: black;
  width: 100%;
}

.modIoButton {
  width: auto;
  font-size: 0.5rem;
  padding: 0.5rem;
  height: auto;
  background-color: white;
  color: black;
}

.modIoButton:hover {
  color: black;
}

.modIoButton:focus {
  color: black;
}
