.class-row-challenge-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  font-weight: bold;
}

.random-challenge-container {
  display:block;
  background-color: #f1f1f1;
  padding: 2rem;
}
